.NavbarItems {
    display: flex;
    color: black;
  }
  
  .NavbarItemsleftDiv {
    width: 75%;
    display: flex;
    background-color: rgb(216, 216, 216);
    flex-wrap: wrap;
  }
  
  .smallDiv {
    align-items: center;
    background-color: rgb(216, 216, 216);
    display: flex;
    width: 20%;
    height: 250px;
  }
  
  .NavbarItemsrightDiv {
    width: 25%;
    height: 550px;
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    background-color: rgb(124, 122, 122);
  }
  
  .NavbarItemsrightDivsmalltop {
    width: 100%;
    height: 300px;
    background-image: url(https://contents.mediadecathlon.com/s988554/k$4a31c5959e3a9bd919bec31f585cd792/frame%20283.png);
    background-size: 100%;
    background-repeat: no-repeat;
    /* background-position: center; */
  }

  .NavbarItemsrightDivsmallbottom{
    text-align: left;
    list-style: none;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  .NavbarItemsbutton{
    width: 100%;
    border: none;
    text-align: left;
    height: 40px;
    background-color:#007dbc;
    color: white;
  }

  .NavbarItemsrightDivsmallbottom li{
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: white;
    margin-bottom: 7px;
    border-bottom: 1px solid rgb(211, 210, 210);
  }

  .smallDiv{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .smallDiv ul{
    list-style: none;
    margin-top: 10px;
    font-weight: 600;
    text-align: left;
  }
  
 .smallDiv ul li{
    font-weight: 100;
    margin-top: 5px;
 }

 .smallDiv ul li:hover{
    cursor: pointer;
    background-color: white;
    color: black;
 }

  /* Media query for small screens */
  @media (max-width: 768px) {
    .NavbarItemscontainer {
      flex-direction: column;
    }
    
    .NavbarItemsleftDiv {
      width: 100%;
    }
  
    .smallDiv {
      width: 100%;
    }
  
    .NavbarItemsrightDiv {
      width: 100%;
    }
  }
  