.Navbar {
  padding: 10px 80px;
  background-color: #007dbc;
  display: flex;
  height: 50px;
  position: fixed;
  z-index: 99999;
  top: 0;
  width: 100%;
  color: white;
}

.Navbar > div {
  flex: 1;
  /* border: 1px solid black; */
  margin-right: 20px;
}

.Navbar > div:hover{
 cursor: pointer;
}

.Navbar-toggle {
  display: flex;
  justify-content: flex-start;
  /* flex-direction: column; */
}

.Navbar-logoimg {
  height: 50px;
  padding: 0%;
}

.Navbar-search {
  padding: 10px;
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 890px;
}

.input {
  height: 25px;
  line-height: 28px;
  padding: 0 1rem;
  width: 100%;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #d9e8d8;
  color: #0d0c22;
  box-shadow: 0 0 5px #c1d9bf, 0 0 0 10px #f5f5f5eb;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #777;
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #777;
  width: 1rem;
  height: 1rem;
}

.Navbar-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.Navbar-cart-icon-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.Navbar-cart-icon {
  font-size: 22px;
}

.Navbar-cart-text-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.Navbar-cart-text {
  font-size: 15px;
  margin-top: 5px;
}

.navbartoggleButton {
  width: 40px;
  font-size: 35px;
  padding: 5px;
}

.Navbar-toggle-text {
  text-align: left;
  margin-left: 10px;
  padding: 5px;
}

.Navbar-toggle-icon {
  position: relative;
}

.tab-container{
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;
    width: 72%;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
    background-color: #f4f4f4;
    color: black;
    font-size: 20px;
    height: 40px;
    padding: auto;
    align-items: center;
}

.tab-container .tab{
  cursor: pointer;
}

.tab-container .tab.active{
    color: #007dbc;
    border-bottom: 4px solid #007dbc;
}

.toggle-button {
  /* z-index: ; */
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateX(-50%);
  color: white;
  background-color: black;
  padding: 5px;
  display: inline-block;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.3s;
  width: 100vw;
  
}

.Navbar-toggle-icon:hover .toggle-button {
  opacity: 1;
  background-color: rgb(44, 44, 44);
}

.toggle-button-home li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.Navbar .navbar-menu{
  display: flex;
  justify-content: space-between;
}

.Navbar .navbar-menu>div{
  width: 80px;
}

.menu-toggle-button {
  display: none;
}

.overlay-signinbox{
  background-color: #777;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}


@media (max-width: 776px) {
  .menu-toggle-button {
    display: block; 
  }

  .navbar-menu {
    display: none;
  }

  .navbar-menu.show {
    display: block;
  }

}


@media screen and (max-width: 768px) {
  .Navbar {
    padding: 0px;
  }

  .Navbar-toggle-icon{
    font-size: 20px;
  }

  .group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    width: 190px;
  }

  .tab-container{
    width: 100%;
  }
}
