@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.RowProducts{
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 20px;
    /* background-color: aqua; */
    /* height: 250px; */
}

.RowProducts p{
    font-family: 'Roboto Condensed', sans-serif;
    align-items: flex-start;
    width: 90%;
    margin-top: 0px;
}

.RowProductscontainer{
    /* background-color: blue; */
    display: flex;
}

.RowProductscontainer-product{
    position: relative;
    width: 250px;
    height: auto;
    border: 1px solid rgb(187, 177, 177);
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-product-image{
    /* flex-basis: 70%; */
    display: flex;
  align-items: center;
  justify-content: center;
}
.container-product-text{
    /* flex-basis: 30%; */
    height: 90px;
    align-items: flex-end;
}
.RowProductscontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .container-product-image {
    width: 200px;
    /* height: 200px; */
  }
  
  .container-product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .product-description{
    font-size: 12px;
    margin-left: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
  }
  
  .product-name{
    border-top: 1px solid rgb(187, 177, 177);
    font-size: 16px;
    padding-top: 10px;
    margin-left: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
  }

  .product-price{
    display: flex;
    justify-content: space-between;
  }

  .product-price button{
    font-size: 14px;    
    /* background-color: yellow; */
    border: none;
    border: 1px solid #afa334;
  }

  .btn {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid yellow;
    padding: 5px 10px 5px 5px;
    font-size: 17px;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
  }

  .btn:hover{
    cursor: pointer;
  }
  
  .btn::before {
    content: '';
    position: absolute;
    border: 1px solid #ffea28;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: #ffea28;
    z-index: -1;
    transition: all 1s;
  }
  
  .btn:hover::before {
    width: 160%;
  }


  
